.mainPane {
	-fx-min-width: 1024px;
	-fx-min-height: 576px;
	-fx-background-color: black;
}

.gamePane {
	-fx-height: 100%;
	-fx-min-width: 49%;
	-fx-background-color: #ffffff;
}

.labelBox {
	-fx-height: 100%;
	-fx-width: 51%;
}
