.mainPane {
	-fx-min-width: 700px;
	-fx-min-height: 500px;
	-fx-background-color: black;
}

.gamePane {
	-fx-height: 100%;
	-fx-min-width: 49%;
	-fx-background-color: #ffffff;
}

.labelBox {
	-fx-height: 100%;
	-fx-width: 51%;
}

.button {
    -fx-padding: 5 22 5 22;   
    -fx-background-radius: 0;
    -fx-background-color: #f8ba1c;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: black;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}


.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-font-size: 20 px;        
    -fx-text-fill: white;
    -fx-alignment: center;
}

.table-view .column-header .label{
	-fx-background-color: linear-gradient(#ffffe6, #f8ba1c);
    -fx-font-weight: bold;
    -fx-font-size: 22 px; 
    -fx-text-fill: black;
}

.table-row-cell .table-cell{
    -fx-border-width: 0px;
}

.table-row-cell:empty{
    -fx-background-color: transparent;
}

.table-row-cell:odd:filled{
    -fx-background-color: transparent;
}

.table-row-cell:even:filled{
    -fx-background-color: transparent;
}

